.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards .item {
    display: flex;
    padding: 1rem;
    flex-grow: 1;
}

@media(min-width: 40rem) {
    .cards .item {
        width: 50%;
    }
}

@media(min-width: 56rem) {
    .cards .item {
        width: 33.3333%;
    }
}

.cards .item:hover {
    cursor: pointer;
}

.cards .item a {
    text-decoration: none;
}

.cards .item .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.cards .item .card .images {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}

.cards .item .card .images .container {
    position: relative;
}

.cards .item .card .images .flag {
    position: absolute;
    top: 5px;
    right: 5px;
}

.cards .item .card .images .image {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}


.cards .item:hover .card .images {
    filter: contrast(100%);
}

.cards .item .card .images .image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

@media(min-width: 40rem) {
    .cards .item .card .images::before {
        padding-top: 66.6%;
    }
}

.cards .item .card .content {
    color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
}

.cards .item .card .content .title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 0;
}

.cards .item .card .content .ingredients {
    display: flex;
    padding: 5px 0;
}

.cards .item .card .content .ingredients .icon {
    width: 20px;
    height: 20px;
}

.cards .item .card .content .ingredients .count {
    padding: 0 5px;
    font-weight: 600;
}

.cards .item .card .content .tags {
    display: flex;
    flex: 1 0 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 5px 0;
}

.cards .item .card .content .tags .tag {
    margin: 3px;
    padding: 2px 4px;
    border-radius: 0.5rem;
    background-color: var(--gray);
    color: white;
}