<template>
  <div>
    <ListMeal v-if="meals" :meals="meals" />
  </div>
</template>

<script>
import ListMeal from "@/components/ListMeal.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    ListMeal,
  },
  data() {
    return {
      meals: [],
    };
  },
  mounted() {
    this.getRandomMealList(9);
  },
  methods: {
    getRandomMealList(length) {
      for (let i = 0; i < length; i++) {
        axios
          .get("https://www.themealdb.com/api/json/v1/1/random.php")
          .then((response) => this.meals.push(response.data.meals[0]));
      }
    },
  },
};
</script>

<style></style>
