<template>
  <div>
    <Meal v-if="meal" :meal="meal" />
  </div>
</template>

<script>
import Meal from "@/components/Meal";
import axios from "axios";

export default {
  components: {
    Meal,
  },
  data() {
    return {
      meal: null,
    };
  },
  mounted() {
    this.getMealById(this.$route.params.id);
  },
  methods: {
    getMealById(id) {
      axios
        .get("https://www.themealdb.com/api/json/v1/1/lookup.php?i=" + id)
        .then((response) => (this.meal = response.data.meals[0]));
    },
  },
};
</script>

<style></style>
