<template>
  <div>
    <h1>{{ meal.strArea }}</h1>
    {{ meal.strMeal }}
    {{ meal.strCategory }}
    {{ meal.strArea }}
    {{ meal.strIngredients }}
    {{ meal.strYoutube }}
    {{ meal.strInstructions }}
    {{ meal.strSource }}
  </div>
</template>

<script>
export default {
  name: "ListMeal",
  props: {
    meal: Object,
  },
};
</script>
