<template>
  <div id="app">
    <NavBar />
    <div class="body">
      <router-view />
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";

export default {
  name: "App",
  components: {
    NavBar,
  },
};
</script>

<style>
@import "./assets/css/main.css";
</style>
